@media screen and (max-width: 880px) {
.header {
        .menu-icon {
            display: block;

            &__line {
                animation: closedMid .8s backwards;
                animation-direction: reverse;

                &::before {
                    animation: closedTop .8s backwards;
                    animation-direction: reverse;
                }
                &::after {
                    animation: closedTop .8s backwards;
                    animation-direction: reverse;
                }
            }
        }

.nav-links {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10rem 0;
    width: 100vw;
    height: 100vh;
    font-size: 2rem;
    color: $white;
    background: $black;
    transition: 
    opacity .8s .5s,
    clip-path 1s .5s;
    clip-path: circle(200px at top right);
}

.menu-btn:checked ~ .nav-links {
    opacity: 1;
    clip-path: circle(100% at center);
}

.menu-btn:checked ~ .menu-icon {
    border-radius: 50%;
    animation: pulse 1s;

    .menu-icon__line {
        background-color: $white;
        animation: openMid .8s forwards;

        &::before {
            background: $white;
            animation: openTop .8s forwards;
        }

        &::after {
            background: $white;
            animation: openBtm .8s forwards;
        }
    }
}

}
}
